Link text: Euro trip 2010
Show breadcrumbs: false
Show comments: false

%h1 Euro trip 2010 posts

- posts = @page.articles.paginate(:page => params[:page], :per_page => 5)

%section.articles= article_summaries(posts)

= paginate posts
