%h1 Home

- articles = Nesta::Page.find_articles.reject { |x| x.metadata('home page') == 'false' }.paginate(:page => params[:page], :per_page => 5)

%section.articles= article_summaries(articles)

= paginate articles