Link text: MongoDB
Show breadcrumbs: false
Show comments: false
Redirect: /mongo

%h1 MongoDB articles

- posts = @page.articles.paginate(:page => params[:page], :per_page => 5)

%section.articles= article_summaries(posts)

= paginate posts
