$base_font_color: #333
$base_bg_color: #aaa
$base_fg_color: #fff

$width: 1024px
$inner_width: $width - 80

html
  background-image: url('/ashmckenzie/images/bg_speckled.png')

  &.lt-1024
    body
      width: $width / 1.1

      header#header
        width: $inner_width / 1.1

      div#content,
      header,
      footer,
        width: $inner_width / 1.1

      article
        img
          max-width: $inner_width / 1.1 - 20px

  &.lt-768
    background-image: none

    body
      border: none
      width: $width / 2

      header#header
        padding-top: 15px
        width: $inner_width / 2
        h1
          font-size: 2.1em
        h2
          font-size: 1.2em
          margin: 10px 0 20px 0

      div#content,
      header,
      footer,
        width: $inner_width / 2

      footer
        margin: 30px auto 0 auto

      article
        h1
          font-size: 1.6em
          margin: 10px 0 10px 0
        img
          max-width: $inner_width / 2 - 20px

      pre.rainbow
        font-size: 0.8em

  &.lt-480
    background-image: none

    body
      border: none
      width: $width / 3.2
      &#about-me
        article
          div
            float: none !important
            padding: 0 !important
            text-align: center

      header#header
        padding-top: 15px
        width: $inner_width / 3.2
        h1
          font-size: 2.0em
        h2
          font-size: 1.2em
          margin: 10px 0 20px 0
        nav
          &:first-child
            position: relative
            top: -8px
          &.menu
            margin-bottom: 0
          &.menu, &.categories
            clear: both
            float: none
            text-align: center
            ul li
              display: inline
              float: none

      div#content,
      header,
      footer,
        width: $inner_width / 3.2

      footer
        .links
          margin: 10px auto
          padding-bottom: 20px
          width: $inner_width / 4
          &:after
            content: ""
            display: table
            clear: both
          a
            display: block
            &.left
              float: left
            &.right
            float: right

      article
        h1
          font-size: 1.2em
          line-height: 28px
          margin: 10px 0 10px 0
        img
          max-width: $inner_width / 3.2 - 20px

      pre.rainbow
        padding-top: 0
        font-size: 0.8em

body
  background-color: $base_fg_color
  border: 3px solid #999
  border:
    top: none
    bottom: none
  color: $base_font_color
  font:
    family: 'Helvetica Neue', Helvetica, Verdana
    size: 0.9em
  line-height: 22px
  margin: 0 auto
  width: $width

header#header
  padding-top: 28px
  width: $inner_width
  h1
    line-height: 34px
    font-size: 4.0em
    margin: 0
    a
      color: $base_font_color
      text-decoration: none
  h2
    font-size: 2.1em

header#header hgroup *,
nav,
footer
  text-align: center

nav.breadcrumb
  border:
    bottom: 1px dotted #aaa
  clear: both
  font-family: Georgia
  padding-top: 14px
  text-align: left
  ul
    padding: 0
    margin-top: 0
  li
    display: inline
    list-style: none
    &.current
      font-weight: bold
    &::after
      content: "\00BB"
    &:last-child::after
      content: ''

div#content
  border-top: 1px dotted #aaa
  clear: both

div#content,
header,
footer,
  background-color: $base_fg_color
  margin: 0 auto
  width: $inner_width

footer
  border-top: 2px solid #ccc
  font-size: 0.8em
  height: 55px
  margin: 30px auto 30px auto
  padding: 0 0 20px 0
  .links
    line-height: 30px
    padding-top: 8px
    a
      color: #555
      text-decoration: none
      padding: 0 6px
      &:hover
        text-decoration: underline
      img
        padding-right: 5px
        vertical-align: middle

section.articles
  > ol
    padding: 0
    list-style: none
    > li
      border-bottom: 2px solid #ddd
      padding-bottom: 10px
      &:last-child
        border: none
        padding-bottom: 0

article
  color: #444
  h1
    font-size: 2.4em
    line-height: 42px
    margin: 20px 0 30px 0
    text-align: center
  a
    color: #444
    text-decoration: none
    border-bottom: 1px dotted #999
    &:hover
      border-bottom: 1px solid #666
  img
    max-width: $inner_width
  p
    text-align: justify
    &.meta
      clear: both
      color: #777
      font-size: 0.9em
      margin-top: 0
      text-align: right
      a
        color: #888
      img.country-image
        padding-left: 3px
        vertical-align: middle
    &.image img
      background-color: #ddd
      border: 1px solid #aaa
      padding: 4px
    &.read_more
      font-size: 0.9em
      margin-bottom: 0
  &.draft h1
    &::before
      content: url(/ashmckenzie/images/draft.png) no-repeat 0 0
      position: relative
      right: 8px
  ol
    margin: 0 0 24px 0

div.small-br
  height: 8px

div.pagination
  a
    border: none !important

hr
  border: 0
  clear: both
  height: 4px
  padding: 0
  margin-top: 0
  margin-bottom: 0
  &.one
    border-top: 1px solid #999
    background-color: #bbb
  &.two
    background-color: #ddd

h1, h2
  font-family: Georgia

.image
  margin: 30px 0
  outline: none
  a
    border: none !important
    outline: none
  a, span.title
    text-align: center
  span.title
    display: block
    font-size: 0.9em
    margin-top: 6px

.center
  text-align: center

.bold
  font-weight: bold

nav.categories
  float: right

nav
  &.menu, &.categories
    margin-bottom: 15px
    ul
      display: block
      list-style: none
      margin: 0
      padding: 0

  &.menu
    float: left
    ul li
      float: left
      margin-right: 10px
  &.categories
    float: right
    ul li
      float: right
      margin-left: 10px

#home
  nav.breadcrumb
    display: none
  #content article > h1
    display: none

code
  background-color: #eee
  padding: 2px 4px

// pre.rainbow
//   padding-bottom: 20px

.float-left
  float: left
