%header#header
  %hgroup
    %h1
      %a{ href: '/' }
        = @heading
    %h2= @subtitle

  %nav
    %nav#menu
      - display_menu(@menu_items, :levels => 1)

    %nav#search
      %form{ action: '/search', method: 'get', id: 'search' }
        %input{ type: 'text', name: 'q', value: params[:q] }


