%header#header
  %hgroup
    %h1
      %a{ href: '/' }
        = @heading
    %h2= @subtitle

  %nav
    %nav.menu
      - display_menu(@menu_items, :levels => 1)

    %div.categories  
      %nav.categories
        - display_menu(Nesta::Menu.for_path('/', 'categories.txt'), :levels => 1)