- article_opts = @page.draft? ? { class: 'draft' } : {}

#content
  %nav.breadcrumb
    - display_breadcrumbs

  %article{ article_opts }
    ~ @page.to_html(self)
    = haml :page_meta, :layout => false, :locals => { :page => @page }
    %hr 
    = haml :comment, :layout => false